@import "tailwindcss";
@source "../../packages/ui/src";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fdfcfb;
  color: #333333;
}
