@import "tailwindcss";
@source "../../../packages/ui/src";

@theme {
  --font-sans: "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-serif: "ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

body {
  margin: 0;
  padding: 0;
}
